__pycache__/
*.pyc
*.o
*.so
*.dll
*.exe
*.addon64
*.tar.gz
*.f32
*.f16
*.i32
.env
.env.*
/third_party/
/dist/
/hip/build/
/hip/hip-network70
/hip/test_*
/linux/build/
/Development/
/large-resources/
/release/
